html {
  font-family: "Noto Sans", sans-serif;
  text-decoration-color: #000;
}

.font-jp {
  font-family: "Noto Sans Japanese", sans-serif;
}

.logo {
  text-align: center;
}

.btn {
  color: #000;
}

.btn-ghost {
  background-color: #fff;
  text-decoration-color: #0084a6;
  border: .1em solid #8bc9d9;
}

.btn:hover {
  border-color: #005e76;
  color: #005e76;
  background-color: #0084a6;
}

a {
  color: #005e76;
  text-decoration-color: #0084a6;
}

a:hover {
  color: #005e76;
  text-decoration-color: #005e76;
}

.quote {
  border-top: .1em solid #e2e2e2;
  border-bottom: .1em solid #e2e2e2;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  border-bottom: .1em solid #8bc9d9;
  color: #005e76;
}

.nav a:hover {
  color: #005e76;
  border-color: #0084a6;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }
}
