html {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Japanese", sans-serif;
  text-decoration-color: #000;
}

*, *::before, *::after {
}

.btn {
  color: #000;
}

.btn-ghost {
  background-color: #fff;
  text-decoration-color: #0084a6;
  border-color: #8bc9d9;
}

.btn:hover {
  border-color: #005e76;
  color: #005e76;
  background-color: #0084a6;
}

a {
  color: #005e76;
  text-decoration-color: #0084a6;
}

a:hover {
  color: #005e76;
  text-decoration-color: #005e76;
}

.nav a {
  text-decoration: none;
  border-bottom: 1px solid #8bc9d9;
}

.nav a:hover {
  border-color: #005e76;
}

section {
  border-color: #e2e2e2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
}

@media only screen and (min-width: 60em) {
}
